/Avaliacao.class
/Cliente.class
/Contato.class
/Equipamento.class
/Main.class
/OrdemServico.class
/Registravel.class
/Relatorio.class
/Servico.class
/Tecnico.class
/OSEquipamento.class
/OSTecnico.class
/Servico$statusAtual.class
